<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>Words</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>Your Name</string>
			<key>Key</key>
			<string>Name</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Sympathy Image</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>ImageName</string>
			<key>Key</key>
			<string>picture</string>
			<key>DefaultValue</key>
			<string>Dog</string>
			<key>Values</key>
			<array>
				<string>Dog</string>
				<string>Crazy Dog</string>
				<string>Coral</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Dog</string>
				<string>Crazy Dog</string>
				<string>Coral</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Contact Information</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>Your Name</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Paul C. Doeg</string>
			<key>Key</key>
			<string>name</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>You Email</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>hello@google.com</string>
			<key>Key</key>
			<string>email</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>You Phone</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>555-345-1234</string>
			<key>Key</key>
			<string>phone</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
